.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 895px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 616px;
  font-size: 6rem;
  margin: 110px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 616px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 432px;
  height: 432px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 162px;
    margin-right: 162px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 52px;
    margin-right: 52px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(black, #e5e5e5);
}

.u-section-2 .u-sheet-1 {
  min-height: 545px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 37px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 479px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 13px;
}

.u-section-2 .u-image-1 {
  width: 711px;
  height: 395px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 479px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 38px 0 0 20px;
}

.u-section-2 .u-text-2 {
  margin: 37px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-2 .u-layout-cell-1 {
    z-index: 0;
    min-height: 395px;
  }

  .u-section-2 .u-image-1 {
    width: 587px;
    height: 326px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 383px;
    z-index: 2;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    height: 244px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 682px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 177px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 6px;
  }
}